.signup {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.heading {
  font-size: 2rem;
  font-weight: 600;
}

.subheading {
  font-size: 1rem;
  padding: 4px 0;
  margin-bottom: 25px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form > input {
  padding: 15px;
  border-radius: 5px;
  font-size: 1.1rem;
  border: 1px solid gray;
  margin-bottom: 25px;
}

.signup-btn {
  padding: 20px 10px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-color: #0a66c2;
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.signup-btn:hover {
  background-color: #05498d;
}

.horizontal-line {
  align-self: center;
}

.google-signin {
  color: gray;
  font-weight: 500;
  font-size: 15px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 50px;
  padding: 10px;
  margin-top: 8px;
}

.google-logo {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.google-signin:hover {
  border: 1px solid gray;
  background-color: whitesmoke;
}

.login {
  display: flex;
  margin-bottom: 20px;
}

.login > p {
  margin-right: 5px;
}
.login > span {
  color: #0a66c2;
  font-weight: 500;
  cursor: pointer;
}

.login > span:hover {
  color: #05498d;
  text-decoration: underline;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
}
