.header {
  background: white;
  position: sticky;
  top: 0;
  padding-top: 10px;
  padding-bottom: 7px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  z-index: 999;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left > img {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
}

.header-search {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  height: 22px;
  color: gray;
  background-color: #eef3f8;
}

.header-search > input {
  font-size: 15px;
  margin-left: 5px;
  outline: none;
  border: none;
  background: none;
}

.header-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gray;
  text-decoration: none;
  margin-right: 25px;
  cursor: pointer;
  justify-content: space-evenly;
}

.header-option:hover {
  color: black;
}

.header-icon {
  font-size: 1.5rem;
}

.header-right p {
  font-size: 0.8rem;
  font-weight: 400;
}

.header-right {
  display: flex;
}

.header-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: gray;
}

.header-avatar:hover {
  color: black;
}

.avatar {
  width: 35px;
  height: 35px;
}

@media (max-width: 1024px) {
  .header-icon {
    font-size: 1.2rem;
  }

  .header-right p {
    display: none;
  }

  .header-avatar {
    padding-top: 5px;
  }

  .header-avatar .avatar {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 768px) {
  /* .header{
    display: flex;
    justify-content: center;
  } */
  /* .header-search > input {
    display: none;
  } */

  .header-left{
    align-items: center;
  }

  .header-logo{
    height: 30px;
    width: 30px;
  }
  .header-search {
    width: 8rem;
    height: 1rem;
  }

  .header-search > input {
    width: 100%;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .header-search > input {
    display: none;
  }

  .header-search {
    width: fit-content;
    background-color: white;
  }

  .searchLogo {
    font-size: 1.2rem;
  }

  .header-logo {
    height: 35px;
    width: 35px;
  }
}
