.inputOption {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: gray;
  cursor: pointer;
  padding: 10px 20px;
}

.inputOption:hover{
    color: black;
    background-color: lightgray;
    border-radius: 10px;
}

.inputOption > h4 {
  font-size: 12px ;
  margin-left: 5px;
}

