.login {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: white;
}

.header {
  display: flex;
  padding: 20px 50px;
}

.header > h2 {
  color: #0a66c2;
  font-size: 2rem;
}
.logo {
  height: 38px;
  width: 38px;
  margin-left: 3px;
}

.heading {
  font-size: 2rem;
  font-weight: 600;
}

.subheading {
  font-size: 1rem;
  padding: 4px 0;
  margin-bottom: 25px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.form > input {
  padding: 15px;
  border-radius: 5px;
  font-size: 1.1rem;
  border: 1px solid gray;
}

.email {
  margin-bottom: 30px;
}

.password {
  margin-bottom: 10px;
}

.form > p {
  cursor: pointer;
  color: #0a66c2;
  font-weight: 500;
  margin-bottom: 20px;
}

.form > p:hover {
  text-decoration: underline;
  color: #05498d;
}

.sign-in {
  padding: 20px 10px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-color: #0a66c2;
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.sign-in:hover {
  background-color: #05498d;
}

.horizontal-line {
  align-self: center;
}

.google-signin {
  color: gray;
  font-weight: 500;
  font-size: 15px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 50px;
  padding: 10px;
  margin-top: 8px;
}

.google-logo {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.google-signin:hover {
  border: 1px solid gray;
  background-color: whitesmoke;
}

.join-now {
  display: flex;
  justify-content: center;
}

.join-now > p {
  margin-right: 5px;
}

.join-now > span {
  color: #0a66c2;
  font-weight: 500;
  cursor: pointer;
}

.join-now > span:hover {
  color: #05498d;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .header > h2 {
    font-size: 1.5rem;
  }

  .logo {
    height: 30px;
    width: 30px;
  }
  .login-form {
    margin-top: 4rem;
  }

  .heading {
    font-size: 1.6rem;
  }
  .subheading {
    font-size: 0.8rem;
  }

  .form > input {
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    border: 1px solid gray;
  }

  .email {
    margin-bottom: 20px;
  }

  .password {
    margin-bottom: 10px;
  }

  .form > p {
    font-size: 12px;
  }

  .sign-in {
    padding: 15px 10px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
  }
  .google-signin {
    font-size: 13px;
    padding: 7px 0px;
  }
}
